[user]
	name = {{ .git_name }}
	email = {{ .git_email }}
{{- if eq .profile "personal" }}
	signingkey = {{ .git_signingkey }}
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
{{- end }}
